<div fxLayout="column" fxLayoutAlign="start stretch" style="margin: 24px">
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="grow">
      <mat-card>
        <h3>Inventory</h3>
        <vnd-stat-display
          *ngFor="let stat of vendingStatus.products"
          [stat]="stat"
        ></vnd-stat-display>
      </mat-card>

      <mat-card style="margin-top: 16px">
        <h3>Money</h3>
        <vnd-stat-display
          *ngFor="let stat of vendingStatus.money"
          [stat]="stat"
        ></vnd-stat-display>
      </mat-card>
      <mat-card
        *ngIf="formState === 'SUCCESS' || formState === 'ERROR'"
        style="margin-top: 16px"
      >
        <h3 *ngIf="formState === 'ERROR'" class="error">{{ message }}</h3>
        <h3 *ngIf="formState === 'SUCCESS'" class="success">{{ message }}</h3>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex="grow" style="margin-left: 16px">
      <mat-card>
        <vnd-vending
          *ngIf="vendingForm"
          [formGroup]="vendingForm"
          [formState]="formState"
          (formSubmitted)="processPurchase($event)"
        ></vnd-vending>
      </mat-card>
    </div>
  </div>
</div>
